/* App.css */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: black; /* Set background color to black */
  color: white; /* Default text color to white for contrast */
  min-height: 200vh; /* Ensure the background covers the full height */
  margin: 0; /* Remove any margin from the App container */
  padding: 0; /* Remove any padding from the App container */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
  margin-top: 0; /* Remove top margin from the h1 element */
}
